
$background: #3e3e3e;

$bluebg: #8EC7BE;

@font-face {
  font-family: "BebasNeue";
  src: url("fonts/BebasNeue copy.otf");
}
@font-face {
  font-family: "Skritchy";
  src: url("fonts/Skritchy copy.ttf");
}
body {
  background: url(images/Background.jpg) $background;
  background-attachment: fixed;
  padding-top: 15px;
  overflow-x: hidden;
}
p {
  font-family: 'Balthazar', sans-serif;
  font-size: 1.4em;
  line-height:1.3em;
}

h2 {
  font-family:'BebasNeue'
}

#bg-window {
  // background:url(images/bg.jpg);
}

.more-info {
  display:none;
}

.muted {
  color: #bbbbbb;
}
.popover {
  color: red;
}
.btn-volantis {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  font-family: 'Rye';
  font-size: 1.5em;
  background: #8ec7be;
  color: #2f4e65;
}
.btn-volantis:hover {
  background: #d6bd3a;
}
.center-column {
  padding-top: 20px;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.box {
  margin: 5px;
  float: left;
  line-height: 1.4em;
}
.form {
  margin-top: 60px;
}
.characters {
  margin-top: 15px;
  margin-bottom: 15px;
}
.pad-top {
  padding-top: 30px;
}
.wallimg {
  float: left;
  width: 100px;
  margin: 10px;
}
.carousel-inner .item {
  height: 500px;
  overflow: hidden;
}
#sae {
  margin: 0 12%;
}
#jo {
  margin: 0 17%;
}
.link-icons img {
  padding: 5px;
}

@mixin subtle-well {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.link-icons {
  border: 1px solid gray;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 5px;
}
.border {
  border: 1px solid #b2b2b2;
}

.portfolio {
  @include subtle-well;
  background: #333;
  position:relative;
}

.portfolio-row {
    -webkit-transition: margin-bottom 0.5s ease-out;
    -moz-transition: margin-bottom 0.5s ease-out;
    -ms-transition: margin-bottom 0.5s ease-out;
    -o-transition: margin-bottom 0.5s ease-out;
    transition: margin-bottom 0.5s ease-out;
    z-index:99;
}

  #crack {  
    -webkit-box-shadow: inset 1px 1px 3px rgba(10, 24, 24, 0.9);
    -moz-box-shadow: inset 1px 1px 3px rgba(10, 24, 24, 0.9);
    box-shadow: inset 1px 1px 3px rgba(10, 24, 24, 0.9);
    opacity: 0;
    padding:20px;
    position:absolute;
    left:0;
    background: #444;
    width:100%;
    height:0;
    display:none;
    z-index:1;
    img {
      padding-right:10px;
    }
  }

.carousel .item {
  height:300px;
  width:620px;
}

.carousel {
  width:620px;
  position:absolute;
  display:none;
  top:0;
}

.portfolio-wall {
  position:relative;
}

.portfolio-wall-pic {
  img {
  -webkit-box-shadow: 0 0 5px rgba(100,100,100 , 0.8);
  -moz-box-shadow: 0 0 5px rgba(100,100,100 , 0.8);
  box-shadow: 0 0 5px rgba(100,100,100 , 0.8);
}
  float:left;
  margin:10px;
}

.portfolio-pic {
  border: 1px solid #b2b2b2;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-box-shadow: 0 0 12px gray;
  -webkit-box-shadow: 0 0 12px gray;
  box-shadow: 0 0 12px gray;
}
.portfolio-pic:hover {
  -webkit-box-shadow: 0 0 12px #b3b3b3;
  -moz-box-shadow: 0 0 12px #b3b3b3;
  box-shadow: 0 0 12px #b3b3b3;
}

.jo-portfolio h4 {
  letter-spacing: 1px;
}
.flipcontainer {
  height:210px;
  position: relative;
  z-index: 1;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}

.flipcontainer:hover .flipcard {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  width:180%;
  height:180%;
  left:-50px;
  -webkit-box-shadow: 0 0 70px black;
  -moz-box-shadow: 0 0 70px black;
  box-shadow: 0 0 70px black;
  z-index:999;
  // -webkit-animation: expand linear 2s infinite alternate; 
}
.flipcard {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#logo {
    -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
    backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.face.back {
  background: $background;
  display: block;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  color: white;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index:999;
  -webkit-backface-visibility: hidden;
}

.modal {
  background: darken(#24717B, 10%);
}

h1 {
  text-align: center;
  font-family:'BebasNeue';
}

$speech-bubble-color: #24717B;

.character {
  position:relative;
  float:left;

  .speech-bubble {
    position:absolute;
    opacity:0;
    right: -100px;
    top: 15px;
    background:$speech-bubble-color;
    padding:20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;

    &:after {
        content:"";
        position:absolute;
        border-style:solid;
        display:block; 
        width:0;
        top:30px; 
        left:-30px; 
        bottom:auto;
        border-width:20px 30px 0 0; 
        border-color:transparent $speech-bubble-color; 
      }
  }

  .speech-bubble.steve {
    right: -56px;
    top: -22px;
    &:before {
      content: "";
      position: absolute;
      bottom: -25px;
      right: 85px;
      border-width: 0 0 25px 30px;
      border-style: solid;
      border-color: transparent $speech-bubble-color;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -25px;
      right: 115px;
      border-width: 0 0 25px 20px;
      border-style: solid;
      border-color: transparent;
    }
  }

  .speech-bubble.jo {
    left: 1px;
    right: auto;
    top: -23px;

    &:before {
      content:"";
      position:absolute;
      bottom:-20px; /* value = - border-top-width - border-bottom-width */
      left:60px; /* controls horizontal position */
      border:0;
      border-right-width:30px; /* vary this value to change the angle of the vertex */
      border-bottom-width:20px; /* vary this value to change the height of the triangle. must be equal to the corresponding value in :after */
      border-style:solid;
      border-color:transparent $speech-bubble-color;
    }

    &:after {
      content:"";
      position:absolute;
      bottom:-20px; /* value = - border-top-width - border-bottom-width */
      left:80px; /* value = (:before's left) + (:before's border-right/left-width)  - (:after's border-right/left-width) */
      border:0;
      border-right-width:10px; 
      border-bottom-width:20px; /* vary this value to change the height of the triangle. must be equal to the corresponding value in :before */
      border-style:solid;
      border-color:transparent ;
    }
  }

  &:hover .speech-bubble {  
    opacity:0.9;
  }
}
