@font-face {
  font-family: "BebasNeue";
  src: url("fonts/BebasNeue copy.otf"); }

@font-face {
  font-family: "Skritchy";
  src: url("fonts/Skritchy copy.ttf"); }

body {
  background: url(images/Background.jpg) #3e3e3e;
  background-attachment: fixed;
  padding-top: 15px;
  overflow-x: hidden; }

p {
  font-family: 'Balthazar', sans-serif;
  font-size: 1.4em;
  line-height: 1.3em; }

h2 {
  font-family: "BebasNeue"; }

.more-info {
  display: none; }

.muted {
  color: #bbbbbb; }

.popover {
  color: red; }

.btn-volantis {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  font-family: 'Rye';
  font-size: 1.5em;
  background: #8ec7be;
  color: #2f4e65; }

.btn-volantis:hover {
  background: #d6bd3a; }

.center-column {
  padding-top: 20px; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.box {
  margin: 5px;
  float: left;
  line-height: 1.4em; }

.form {
  margin-top: 60px; }

.characters {
  margin-top: 15px;
  margin-bottom: 15px; }

.pad-top {
  padding-top: 30px; }

.wallimg {
  float: left;
  width: 100px;
  margin: 10px; }

.carousel-inner .item {
  height: 500px;
  overflow: hidden; }

#sae {
  margin: 0 12%; }

#jo {
  margin: 0 17%; }

.link-icons img {
  padding: 5px; }


.border {
  border: 1px solid #b2b2b2; }

.portfolio {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 5px;
  background: #333;
  position: relative; }


.carousel .item {
  height: 500px;
  width: 619px; }

.carousel {
  width: 619px;
  height: 500px;
  position: absolute;
  display: none;
  top: 0; }

.bigimg {
  width:619px !important;
  height:500px !important;
}

.portfolio-wall {
  position: relative; }

.portfolio-wall-pic {
  float: left;
  margin: 5px; }
  .thumb:hover {
    cursor:pointer;
  }
  .portfolio-wall-pic img {
    -webkit-box-shadow: 1px 1px 2px rgba(20, 20, 20, 0.8);
    -moz-box-shadow: 1px 1px 2px rgba(20, 20, 20, 0.8);
    box-shadow: 1px 1px 2px rgba(20, 20, 20, 0.8); }

.jo-portfolio h4 {
  letter-spacing: 1px; }

#logo {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden; }

.modal {
  background: #184d54; }

h1 {
  text-align: center;
  font-family: 'BebasNeue'; }

.character {
  position: relative;
  float: left; }
  .character .speech-bubble {
    position: absolute;
    opacity: 0;
    right: -100px;
    top: 15px;
    background: #24717b;
    padding: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out; }
    .character .speech-bubble:after {
      content: "";
      position: absolute;
      border-style: solid;
      display: block;
      width: 0;
      top: 30px;
      left: -30px;
      bottom: auto;
      border-width: 20px 30px 0 0;
      border-color: transparent #24717b; }
  .character .speech-bubble.steve {
    right: -56px;
    top: -22px; }
    .character .speech-bubble.steve:before {
      content: "";
      position: absolute;
      bottom: -25px;
      right: 85px;
      border-width: 0 0 25px 30px;
      border-style: solid;
      border-color: transparent #24717b; }
    .character .speech-bubble.steve:after {
      content: "";
      position: absolute;
      bottom: -25px;
      right: 115px;
      border-width: 0 0 25px 20px;
      border-style: solid;
      border-color: transparent; }
  .character .speech-bubble.jo {
    left: 1px;
    right: auto;
    top: -23px; }
    .character .speech-bubble.jo:before {
      content: "";
      position: absolute;
      bottom: -20px;
      /* value = - border-top-width - border-bottom-width */
      left: 60px;
      /* controls horizontal position */
      border: 0;
      border-right-width: 30px;
      /* vary this value to change the angle of the vertex */
      border-bottom-width: 20px;
      /* vary this value to change the height of the triangle. must be equal to the corresponding value in :after */
      border-style: solid;
      border-color: transparent #24717b; }
    .character .speech-bubble.jo:after {
      content: "";
      position: absolute;
      bottom: -20px;
      /* value = - border-top-width - border-bottom-width */
      left: 80px;
      /* value = (:before's left) + (:before's border-right/left-width)  - (:after's border-right/left-width) */
      border: 0;
      border-right-width: 10px;
      border-bottom-width: 20px;
      /* vary this value to change the height of the triangle. must be equal to the corresponding value in :before */
      border-style: solid;
      border-color: transparent; }
  .character:hover .speech-bubble {
    opacity: 0.9; }



.inverse li {
  background-color: rgba(100, 100, 100, 0.25) !important;
}

.inverse li.active {
  background-color:#555 !important;
}