p, label, legend, fieldset, h1,h2,h3,h4,h5, .ng-binding {
	color:white;
}


.wallimg {
	float:left;
	padding:5px;
	border:1px solid grey;
	width:100px;
    height: 100px;
    overflow: hidden;
}