<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#/">Editing Portfolio Entry</a>

			<div class="nav-collapse collapse">
			  <button class="btn btn-success" ng-click="saveEdit()"><i class="icon-ok-circle"></i> Done</button>
				<div class="btn-group">			
					  <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
					    Move to...
					    <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu dropdown-info">
					    <li ng-repeat="project in portfolio"><a ng-click="moveProj($index)">Move to {{project.name}}</a></li>
					  </ul>
				</div>
  			  <button class="btn btn-danger pull-right" ng-click="delImg()"><i class="icon-trash"></i> Delete</button>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid" style="margin-top:40px;">
	<div class="span3">
		<img width="100%" ng-src="{{portfolio[pid].images[imgid].file}}">
	</div>
	<div class="span9">
		<form>
		  <fieldset>
		    <legend>{{portfolio[pid].images[imgid].title}}&nbsp;</legend>
		    <label>Title</label>
		    <input class="input-xlarge" type="text" placeholder="Type something…" ng-model="portfolio[pid].images[imgid].title">
			<label>URL</label>
		    <input class="input-xlarge" type="text" placeholder="Type something…" ng-model="portfolio[pid].images[imgid].url">
		    <label>Description</label>
		    <textarea class="input-xlarge" rows="5" ng-model="portfolio[pid].images[imgid].description">
		    </textarea><br>		    
		  </fieldset>
		</form>
	</div>
</div>