<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#/">Edit Project</a>

			<div class="nav-collapse collapse">
			  <button class="btn btn-success" ng-click="saveEdit()"><i class="icon-ok-circle"></i> Done</button>
				<div class="btn-group">
			  <button class="btn btn-info"><i class="icon-picture"></i> Change Thumbnail</button>
			  <a class="btn btn-info" ng-href="#/upload/"><i class="icon-upload"></i> Upload</a>
			</div>
  			  <button class="btn btn-danger pull-right" ng-click="delProj()"><i class="icon-trash"></i> Delete</button>
				
			</div>
		</div>
	</div>
</div>
<div class="row-fluid" style="margin-top:40px;">
	<div class="span3">
		<img ng-src="{{current_proj.images[0].file}}">
	</div>
	<div class="span9">
		<form>
		  <fieldset>
		    <legend>Edit {{portfolio[pid].name}}</legend>
		    <label>Title</label>
		    <input class="input-xlarge" type="text" ng-model="current_proj.name">
		    <label>Description</label>
		    <textarea class="input-xlarge" rows="5" ng-model="current_proj.description"></textarea>
			<label>URL</label>
		    <input class="input-xlarge" type="text" ng-model="current_proj.url">
		    <br>
		    <button type="submit" class="btn" ng-click="saveEdit()">Submit</button>
		  </fieldset>
		</form>
	</div>
</div>