<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">


			<a class="brand">{{current_proj.name}}</a>

				<div class="btn-group">
			  <button class="btn btn-info" ng-click="newProject()"><i class="icon-plus"></i> New</button>
				<a class="btn btn-info" href="#/edit/{{current_proj.id}}"><i class="icon-pencil"></i> Edit</a>
				<a class="btn btn-info" ng-href="#uploadModal" data-backdrop="" role="button" data-toggle="modal"><i class="icon-upload"></i> Upload</a>
</div>
			  <button class="btn btn-info" ng-click="commitChanges()">Save Changes</button>
			
				
			
		</div></div>
	</div>
<div class="row-fluid" style="margin-top:50px;">
				  <div ng-show="message" class="alert alert-success">
	  <button type="button" class="close" ng-click="message = ''">&times;</button>
	  {{message.status}}
	</div>
		<div class="tabbable"> 
		<div class="span2"  style="border-right:1px solid grey; padding-right:10px;">
		  <ul class="nav nav-pills nav-stacked">
		    <li ng-repeat="project in portfolio" ng-class="currentTab(project.id)" ng-click="changeTab(project.id)">
		    	<!-- <i ng-click="#/edit/{{$index}}" class="icon-edit pull-left"></i> -->
		    	<a href="#{{$index}}" data-toggle="tab">{{project.name}}</a></li>
		  </ul>
		</div>
		  <div class="span9">
		  <div class="tab-content">
		    <div ng-repeat="project in portfolio" ng-class="currentTab(project.id)" class="tab-pane" id="{{project.id}}">
		      	<div ng-repeat="img in project.images | filter:findFilter" class="wallimg">
				<a href="#/edit/{{$parent.$index}}/{{$index}}"><div><img ng-src="{{img.thumb}}"></div></a>
			</div>
		    </div>
		  </div>
		</div>
		</div>
</div>

<div id="uploadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel" style="color:black">Upload to {{current_proj.name}}</h4>
  </div>
  <div class="modal-body" ng-controller="uploadCtrl">    
			<form action="upload_handle.php" ng-upload>
			    <label>File</label>
			    <input type="file" name="imagefile"></input>
			    <input class="btn btn-inverse pull-right" type="submit" value="Upload" 
			    		upload-submit="results(content, completed)"></input>
			</form>
			<p>{{response.status}}</p>
				<img ng-src="{{response.url}}" ng-show="response.url">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>