<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#/">Upload</a>

			<div class="nav-collapse collapse">
			  <button class="btn btn-success" ng-click="saveEdit()"><i class="icon-ok-circle"></i> Done</button>
				
			</div>
		</div>
	</div>
</div>
<div class="row-fluid" style="margin-top:40px;">
	<div class="span9" ng-controller="uploadCtrl">
		  <fieldset>
		    <legend>Upload file to: {{current_proj.name}}</legend>
			<form action="upload_handle.php" ng-upload>
			    <label>File</label>
			    <input type="file" name="imagefile"></input>
			    <input class="btn btn-inverse" type="submit" value="Upload" 
			    		upload-submit="results(content, completed)"></input>
			</form>
			<p>{{response.status}}</p>
				<img ng-src="{{response.url}}" ng-show="response.url">
		  </fieldset>
<!-- 		  <div class="progress progress-striped active">
			  <div class="bar" style="width: {{response.progress}}"></div>
			</div> -->
	</div>
</div>